APIFY_API_TOKEN=apify_api_casdfsjdfoij23op2n34f
ANTHROPIC_API_KEY=sk-ant-api03-sfVP9Hftz6vv7YEuC_vY94HMQsXNHtLNTZIQFmTtkaYU3wSnN_43x0RBbjY0WHcS2EtJO-sdfsdAfe322323r-ds
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=3sdsfdsfds
# Optional cost controls
REDDIT_MAX_ITEMS=50
THREADS_MAX_POSTS=15
# THREADS_KEYWORDS=need automation,looking for a developer
TWITTER_MAX_ITEMS=50
# TWITTER_KEYWORDS=need automation,шукаю розробника
